// css-loader component styles
:local(.style) {

  margin: 0.5rem;

  label,
  input {
    display: block;
    width: 100%;
  }

  input {
    margin-bottom: 0.5rem;
  }

  .input-group {
    margin-bottom: 4rem;
  }

  width: 400px;

}